<div class="container">
<form class="row" [formGroup]="addProductForm">
    <mat-toolbar color="primary">
      <span class="fill-remaining-space">Add New Form</span>
    </mat-toolbar>
    <mat-form-field class="col-12">
      <input matInput placeholder="Product Title" formControlName="name">
     <mat-error *ngIf="addProductForm.get('name').hasError('required')">
        Please enter a Product Name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
        <textarea matInput formControlName="description" placeholder="Enter Product description"></textarea>
        <mat-hint>*140 characters max</mat-hint>
        <mat-error *ngIf="addProductForm.get('description').hasError('required')" >Field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
        <mat-select placeholder="Select Category" formControlName="category">
          <mat-option value="kitchenItem">Kitchen Item</mat-option>
          <mat-option value="electronic">Electronics</mat-option>
          <mat-option value="furniture">Furniture</mat-option>
          <mat-option value="cloths">Cloths</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field class="col-12">
      <input matInput placeholder="Amount" type="number" class="example-right-align" formControlName="amount">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
      <mat-error *ngIf="addProductForm.get('amount').hasError('required')"></mat-error>
    </mat-form-field>
  <button mat-raised-button color="primary" type="submit" (click)="addProduct()" class="button" >Add New Product</button>
</form>
</div>