<div class="row">
    <div class="col-6">
        <mat-grid-list cols="6">
            <mat-toolbar color="">
                <span class="fill-remaining-space">All Products</span>
            </mat-toolbar>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let product of Products" (click)="onSelect(product)">
                    <p>{{product.name}}</p>
                </mat-list-item>
            </mat-list>
        </mat-grid-list>
    </div>
    <div class="col-6">
        <mat-grid-list cols="6">
            <button mat-flat-button color="primary" class="add-product" (click)="AddProduct()">
                <mat-icon>add</mat-icon>Add Product
            </button>
                
            <app-add-product *ngIf="AddProductFlag" (sendData) = UpdateList($event)></app-add-product>
        </mat-grid-list>
    </div>
</div>